# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore build directories
dist

# Ignore local environment files
.env
.env.development
.env.production
.env.example

# Ignore Docker-related files
.dockerignore
Dockerfile
docker-compose.yaml

# Ignore git-related files
.git
.gitignore

# Ignore editor and OS-specific files
.vscode
.idea
*.swp
*~
.DS_Store
Thumbs.db

# Ignore custom files and directories
README.md
